services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - frontend-packages:/app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]
volumes:
    frontend-packages:
