@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "cadmium";
}

html,
body {
    overflow-x: hidden;
     width:100%; 
  height:100%;
}



@font-face {
    font-family: 'cadmium';
     src: local('cadmium'), url(./fonts/Cadmium.ttf) format('truetype');
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #474747;
}

::-webkit-scrollbar-thumb:hover {
    background: #474747;
}