.fc-button {
  background-color: #9ca3af !important;
  color: white !important;
  border:none !important;
  border-radius: 2px !important;
  
}

.fc-button:hover {
  background-color: #6b7280 !important;
}

.fc-header-toolbar{
  color: #374151;
    font-weight: 400 !important; 
}

.fc-toolbar-title {
  font-size: 18px !important;   
}

.fc-scrollgrid,
.fc-scrollgrid td,
.fc-scrollgrid th {
  border: none !important;
  font-weight: 400 !important; 
}