.fc-button {
  background-color: #9ca3af !important;
  color: white !important;
  border:none !important;
  border-radius: 2px !important;
}

.fc-button:hover {
  background-color: #6b7280 !important;
}

.fc-header-toolbar{
  color: #374151;
  
}