.fc-button {
  background-color: #818cf8 !important;
  color: white !important;
  border:none !important;
  border-radius: 2px !important;
}

.fc-button:hover {
  background-color: #6366f1 !important;
}

.fc-header-toolbar{
  color: #374151;
  
}