@import "tailwindcss";


@theme  {
   --shadow-custom: 0px 1px 10px 0px rgba(0,0,0,0.1);
   --color-pale-100:#F5F5F5;
   --color-pale-200:#F0F2F5;
   --color-pale-300:#EDEDED;
   --color-pale-400:#FAF9F6;
   --color-pale-500:#F7F6F3;
   --color-pale-600:#f6f8fd;

}


* {
  font-family: 'inter';
}

html,
body {
  width:100%; 
  height:100%;
  
}


@font-face {
    font-family: 'cadmium';
     src: local('cadmium'), url(./fonts/Cadmium.ttf) format('truetype');
}

@font-face {
    font-family: 'roobert';
    src: local('roobert'), url(./fonts/Roobert.ttf) format('truetype');
}


@font-face {
    font-family:'rubik';
   src: local('rubik'), url(./fonts/RubikRegular.ttf) format('truetype');
}

@font-face {
    font-family:'inter';
   src: local('inter'), url(./fonts/Inter.ttf) format('truetype');
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #474747;
}

::-webkit-scrollbar-thumb:hover {
    background: #474747;
}