.fc-button {
  background-color: #2563eb !important;
  color: white !important;
  border:none !important;
  border-radius: 12px !important;
  margin-left: 10px !important;
  
}

.fc-button:hover {
  background-color: #1d4ed8 !important;
  border-radius: 12px;
}

.fc-header-toolbar{
  color: #374151;
    font-weight: 400 !important; 
}

.fc-toolbar-title {
  font-size: 18px !important; 
  color: #1e293b;
  letter-spacing: -0.025;  
  font-weight: 600;
}

.fc-scrollgrid,
.fc-scrollgrid td,
.fc-scrollgrid th {
  border: none !important;
  font-weight: 400 !important; 
}